body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    font: 10px sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(120deg, #444, #111);
    footer{
        background-color: transparent;
        font-size: 1.5em;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        p{
            color: whitesmoke;
            span{
                color: cornflowerblue;
            }
        }
    }    
    #title{
        text-align: center;
        font-size: 2rem;
        fill: cornflowerblue;
    }
    .subtitle{
        fill: orange !important;
    }
    .dot{
        stroke:white;
        opacity: 0.8;
        transition: 0.3s ease;
        animation: animate 1s ease-in;
        animation-iteration-count: 1;
        &:hover{
            opacity: 0.5;
            r: 8;
        }
    }
    .graph{
        display: block;
        margin: auto;
        background-color: transparent;
        border-radius: 30px;
        padding: 10px;
        box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.514), -10px -10px 20px #5e5e5e;
        text{
            fill: white;
        }
        path{
            stroke: white;
        }
        line{
            stroke: white;
        }
    }
    .tooltip{
        position: absolute;
        padding: 10px;
        font: 12px sans-serif;
        background-color: cornflowerblue;
        border: none;
        border-radius: 10px;
        pointer-events: none;
    }
    .axis path, .axis line{
        fill: none;
        stroke: white;
        shape-rendering: crispEdges;    
    }
}

@keyframes animate{
    0%{
        cy: 550;
        r:0;
    }
    50%{
        cy: none;
    }
    80%{
        r: 10
    }
    100%{
        r: 6
    }
}